/* Styles */
/* Outter Layer*/
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
}

#Index_H1 {
    color: brown;
    text-align: center;
    background-color: yellow;
}

.index_btn {
    alignment: center;
    background-color: darkorange;
    font-size: x-large;
    color: black;
    padding: 14px 25px;
    margin: 5px 15px;
    border: black;
    border-style: double;
    cursor: pointer;
    width: 100%;
}

.index_btn:hover {
    opacity: 0.8;
}

/* Model Layer */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* Model Layer Button */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}

.Index_Sign_Button {
    width: auto;
    padding: 10px 18px;
    background-color: forestgreen;
}

.Index_Cancel_Button {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Model Input */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: large;
}

/* --------------------------------------------------------- */

/* Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}