@charset "UTF-8";

body {
	background-color: #FFD606;
}

.row {
	margin-top: 2.5%;
	margin-bottom: 2.5%;
}

span {
	font-size: large;
}

label {
	font-size: larger;
}

textarea {
	text-align: center;
	color: red;
	font-size: large;
}